footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: #153162;
  width: 100%;
  text-align: center;
  padding: 1rem;

  section.logo {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      width: 5vw;
      filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
    }

    h3 {
      font-size: 2.5rem;
      text-align: center;
      color: white;
    }
  }

  section.links {
    margin-top: 2rem;

    a {
      img {
        width: 5vh;
        margin: 0rem 1rem;
      }
    }
  }
}
@media (max-width: 768px) {
  footer {
    section.logo {
      img {
        width: 10%;
      }
      h3 {
        font-size: 1.75rem;
      }
    }
    section.links {
      a {
        img {
          width: 4vh;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  footer {
    section.logo {
      img {
        width: 10%;
      }
      h3 {
        font-size: 1.25rem;
      }
    }
    section.links {
      a {
        img {
          width: 3vh;
        }
      }
    }
  }
}
