header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  section.logo {
    flex: 2 1 400px;
    display: flex;
    align-items: center;
    margin-left: 40px;

    h1 {
      font-size: 2.5rem;
      color: white;
    }

    img {
      width: 6vw;
      height: 6vw;
      filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  nav {
    display: flex;
    flex: 5 1 500px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $primary-color;
    height: 100px;

    .hamburger {
      display: none;
      font-size: 2.5rem;
      color: white;
      background: none;
      border: none;
      position: absolute;
      right: 20px;
      top: 20px;
      z-index: 1100;
    }

    ul {
      display: flex;
      list-style-type: none;
      justify-content: space-around;
      padding: 0;
      margin: 0;

      li {
        position: relative;
        left: 0px;
        display: flex;
        align-items: center;
        padding: 20px;
        height: 102px;

        a {
          justify-content: center;
          color: white;
          text-decoration: none;
          font-size: 1.35rem;
          transition: all 0.2s ease;
          padding-bottom: 0.3rem;

          &:hover {
            color: $accent-color;
            border-bottom: 3px solid $accent-color;
          }
        }

        ul {
          display: none;
          position: absolute;
          top: 110px;
          left: 10px;
          background-color: rgba(0, 0, 0, 0.5);
          width: 150px;
          border-radius: 5px;
          list-style: none;
          padding: 0;
          margin: 0;

          li a {
            font-size: 20px;
            display: block;
            padding: 10px;
            color: white;
            text-decoration: none;

            &:hover {
              background-color: rgba(0, 0, 0, 0);
            }
          }
        }

        &.dropdown-menu1:hover .dropdown-menu,
        &.dropdown-menu2:hover .dropdown-menu,
        &.dropdown-menu3:hover .dropdown-menu,
        &.dropdown-menu4:hover .dropdown-menu {
          display: block;
          top: 102px;
          left: 0px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  header {
    section.logo {
      margin-left: 10px;

      h1 {
        font-size: 2rem;
      }
      img {
        width: 50px;
        height: 50px;
      }
    }
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1rem;
      height: 80px;
      .hamburger {
        display: block;
        top: 10px;
      }

      ul {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.95);
        position: absolute;
        top: 100%;
        left: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;

        &.active {
          max-height: 500px;
        }

        li {
          width: 100%;
          padding: 10px;
          text-align: left;

          .dropdown-menu {
            position: static;
            background-color: transparent;
            box-shadow: none;

            li a {
              padding: 8px 16px;
              font-size: 1rem;
              display: block;
            }
          }
        }
      }
    }

    .logo {
      margin-left: 0;
      h1 {
        font-size: 2rem;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
  }
}
@media (max-width: 480px) {
  header {
    section.logo {
      margin-left: 10px;

      h1 {
        font-size: 1.5rem;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    nav {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 1rem;
      height: 4rem;
      .hamburger {
        display: block;
        top: 15px;
        font-size: 1.5rem;
      }
    }
  }
}
