.container {
  position: relative;
  width: 100%;
  height: 220vh;
  padding-top: 100px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  flex: 1;
  .tabBtns {
    flex-basis: 15%;
    padding: 10px;
    background-color: rgb(181, 162, 125);
    border-right: 1px solid rgb(181, 162, 125);

    .btn {
      text-align: center;
      padding: 20px;
      margin-bottom: 10px;
      border-radius: 10px 30px;
      text-transform: uppercase;
      font-size: 20px;
      cursor: pointer;
      color: white;

      &:hover {
        background-color: #846732;
      }
    }

    .show {
      background-color: rgb(132, 103, 50);
    }
  }

  .tabContents {
    flex-basis: 85%;
    background-color: wheat;
    padding: 20px 30px 20px 40px;
    font-size: 20px;

    h2 {
      padding-bottom: 10px;
    }

    .contents {
      display: none;
      img {
        width: 55%;
      }
    }

    .show {
      display: block;
    }
  }
}
@media (max-width: 1024px) {
  .container {
    padding-top: 80px;
    flex-direction: column;
    // margin-bottom: 0;
    .tabBtns {
      flex-basis: 0;
      padding: 10px;
      display: flex;
      .btn {
        width: 30%;
        margin-bottom: 0;
        padding: 5px;
        font-size: 18px;
      }
    }

    .tabContents {
      .contents {
        img {
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .container {
    padding-top: 80px;
    flex-direction: column;

    .tabBtns {
      flex-basis: 0;
      padding: 10px;
      display: flex;
      .btn {
        width: 30%;
        margin-bottom: 0;
        padding: 5px;
        font-size: 18px;
      }
    }

    .tabContents {
      .contents {
        img {
          width: 70%;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .container {
    // padding-top: 62px;

    .tabBtns {
      flex-basis: 0;
      padding: 10px;
      display: flex;
      .btn {
        width: 30%;
        margin-bottom: 0;
        padding: 5px;
        font-size: 15px;
      }
    }

    .tabContents {
      .contents {
        img {
          width: 100%;
        }
      }
    }
  }
}
