$font-main: 'Arial', sans-serif;
$primary-color: #596987;
$accent-color: rgba(255, 57, 120, 0.5);
$bg-light: #ede;
$text-white: #fff;
$text-dark: #333;
$text-light: #444;
$lightseagreen: lightseagreen;