.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  place-items: center;
  // border: 1px solid blue;

  @media (max-width: 1024px) {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 768px) {
    width: 70%;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    width: 40%;
  }

  .product {
    border: 1px solid #ddd;
    background-color: rgb(247, 244, 238);
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    z-index: 1;
    width: 100%;

    img {
      width: 100%;
    }

    a {
      display: block;
    }
    h4 {
      font-size: 15px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1; /* 顯示 2 行 */
      overflow: hidden;
    }
    p {
      font-size: 15px;
    }
  }
}

.product-container {
  display: flex;
  flex-direction: row;
  // justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 30px;
  margin: 0 auto;
  height: auto;

  .product-gallery {
    display: flex;
    gap: 10px;

    .product-img {
      width: 400px;
      margin-bottom: 10px;
    }

    .small-images {
      display: flex;
      gap: 10px;
      flex-direction: column;

      .small-img {
        width: 80px;
        height: auto;
        cursor: pointer;
        border: 2px solid transparent;

        &:hover {
          border-color: #666;
        }
      }
    }
  }

  .product-details {
    max-width: 400px;

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
    }

    p {
      margin-bottom: 20px;
    }

    select,
    input {
      margin-bottom: 10px;
      display: block;
      width: 100%;
      padding: 5px;
    }

    .btn {
      padding: 10px 15px;
      margin-right: 10px;
      border: none;
      cursor: pointer;
      background-color: $primary-color;
      color: white;
      border-radius: 5px;

      &:hover {
        background-color: $hover-color;
      }
    }
  }
}
@media (max-width: 768px) {
  .product-container {
    display: flex;
    flex-direction: column;
    height: auto;
    .product-gallery {
      .product-img {
        width: 300px;
      }
    }
  }
}
@media (max-width: 480px) {
  .product-container {
    .product-gallery {
      .product-img {
        width: 200px;
      }
    }
    .product-details {
      select {
        width: 90%;
      }
      h1 {
        font-size: 1.5rem;
      }
      h2 {
        font-size: 1.25rem;
      }
      input {
        width: 90%;
      }
    }
  }
}
