* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 0px;
}
body.scrolled header nav {
  background-color: rgba(0, 0, 0, 0.5);
  height: 95px;
  transition: height 1s;
  z-index: 10;
}
body img.fixed-image {
  min-height: 100vh;
  position: fixed;
  width: 100%;
  z-index: -5;
  bottom: 0;
  left: 0;
}
body header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
body header section.logo {
  flex: 2 1 400px;
  display: flex;
  align-items: center;
  margin-left: 40px;
}
body header section.logo h1 {
  font-size: 2.5rem;
  color: white;
}
body header section.logo img {
  width: 6vw;
  height: 6vw;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}
body header section.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
body header nav {
  display: flex;
  flex: 5 1 500px;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 6.5rem;
}
body header nav .hamburger {
  display: none;
  font-size: 2.5rem;
  color: white;
  background: none;
  border: none;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1100;
}
body header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
body header nav ul li {
  position: relative;
  left: 0px;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 102px;
}
body header nav ul li.dropdown-menu1:hover .dropdown-menu, body header nav ul li.dropdown-menu2:hover .dropdown-menu, body header nav ul li.dropdown-menu3:hover .dropdown-menu, body header nav ul li.dropdown-menu4:hover .dropdown-menu {
  display: block;
  top: 102px;
  left: 0px;
}
body header nav ul li a {
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 1.35rem;
  transition: all 0.2s ease;
  padding-bottom: 0.3rem;
}
body header nav ul li a:hover {
  color: rgba(255, 57, 120, 0.5);
  border-bottom: 3px solid rgba(255, 57, 120, 0.5);
}
body header nav ul li ul {
  display: none;
  position: absolute;
  top: 105%;
  left: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  width: 150px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}
body header nav ul li ul li a {
  font-size: 20px;
  display: block;
  padding: 10px;
  text-decoration: none;
}
body header nav ul li ul li a:hover {
  background-color: rgba(0, 0, 0, 0);
}
body main section.background-wrapper {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
body main section.background-wrapper .bg-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  z-index: 0;
}
body main section.background-wrapper .bg1 {
  z-index: 1;
}
body main section.background-wrapper .bg2 {
  z-index: 2;
}
body main section.background-wrapper .bg-layer.show {
  opacity: 1;
}
body main section.background-wrapper .content1 {
  position: relative;
  z-index: 3;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-size: 2rem;
  padding: 0;
}
body main section.background-wrapper .content1 h4 {
  color: white;
  font-size: 2.5rem;
  text-align: center;
  position: absolute;
  top: 20rem;
  left: 6rem;
}
body main section.sainer {
  background-color: rgb(0, 0, 0);
  padding: 5rem 1rem 5rem 8rem;
  z-index: -1;
}
body main section.sainer div.ainer {
  display: flex;
  align-items: center;
  height: 500px;
  opacity: 1;
  transform: translateY(200px);
  transition: opacity 1s ease-out, transform 1s ease-out;
  width: 100%;
  gap: 1rem;
}
body main section.sainer div.ainer.show {
  opacity: 1;
  transform: translateY(0);
}
body main section.sainer div.ainer div.title {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
body main section.sainer div.ainer div.title h3 {
  color: white;
  font-size: 48px;
}
body main section.sainer div.ainer div.title h2 {
  color: white;
  font-size: 36px;
}
body main section.sainer div.carousel {
  width: 500px;
  height: 400px;
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}
body main section.sainer div.carousel div.container div.content {
  width: 500px;
  height: 400px;
}
body main section.sainer div.carousel div.container div.content img {
  width: 100%;
  flex-shrink: 0;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
body main section.sainer div.carousel div.btnContainer {
  display: flex;
  align-items: center;
  z-index: -1;
  width: 100%;
  justify-content: space-between;
}
body main section.sainer div.carousel div.btnContainer button.btn {
  width: 1px;
  height: 1px;
  font-size: 1px;
}
body main section.info-circles {
  background-color: white;
  padding: 4rem 1rem;
}
body main section.info-circles h3 {
  text-align: center;
  font-size: 2rem;
  color: lightseagreen;
  font-weight: bold;
}
body main section.info-circles div.circles {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
body main section.info-circles div.circles div.circle {
  padding: 1rem;
  flex: 0 1 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body main section.info-circles div.circles div.circle a {
  text-decoration: none;
  color: lightseagreen;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
}
body main section.info-circles div.circles div.circle a img {
  width: 80%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  transition: all 0.1s ease-in;
  padding: 0.3rem;
  display: block;
  margin: auto;
}
body main section.info-circles div.circles div.circle a img:hover {
  border: 3px solid rgba(255, 57, 120, 0.5);
}
body main section.empty-container {
  min-height: 70vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}
body main section.empty-container h3 {
  color: white;
  font-size: 2rem;
}
body main section.google-map {
  background-color: white;
  padding: 2rem 1rem;
  text-align: center;
}
body main section.google-map h3 {
  font-size: 2.5rem;
}
body main section.google-map p {
  font-size: 1.25rem;
  margin: 1rem;
}
body main section.google-map iframe {
  width: 100%;
  height: 40vh;
}
body footer {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
body footer section.logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
body footer section.logo img {
  width: 5vw;
  filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
}
body footer section.logo h3 {
  font-size: 2.5rem;
  text-align: center;
  color: white;
}
body footer section.links {
  margin-top: 2rem;
}
body footer section.links a img {
  width: 5vh;
  margin: 0rem 1rem;
}

@media (max-width: 1024px) {
  body.scrolled header nav {
    background-color: rgba(0, 0, 0, 0.95);
    height: 4rem;
    z-index: 10;
  }
  body header section.logo {
    flex: 2 1 400px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  body header section.logo h1 {
    font-size: 1.75rem;
    color: white;
  }
  body header section.logo img {
    width: 50px;
    height: 50px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  }
  body header section.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header nav {
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    height: 4rem;
  }
  body header nav .hamburger {
    display: block;
    top: 10px;
    font-size: 2rem;
  }
  body header nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  body header nav ul.active {
    max-height: 500px;
  }
  body header nav ul li {
    width: 100%;
    padding: 10px;
    text-align: left;
  }
  body header nav ul li .dropdown-menu {
    position: static;
    background-color: transparent;
    box-shadow: none;
  }
  body header nav ul li .dropdown-menu li a {
    padding: 8px 16px;
    font-size: 1rem;
    display: block;
  }
  body header .logo {
    margin-left: 0;
  }
  body header .logo h1 {
    font-size: 2rem;
  }
  body header .logo img {
    width: 40px;
    height: 40px;
  }
  body main section.background-wrapper {
    height: 50vh;
  }
  body main section.background-wrapper .bg-layer {
    min-height: 50vh;
  }
  body main section.background-wrapper .content1 h4 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 20rem;
    left: 2rem;
  }
  body main section.sainer {
    padding: 3rem 4rem;
  }
  body main section.sainer div.ainer {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  body main section.sainer div.ainer div.title {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  body main section.sainer div.ainer div.title h3 {
    color: white;
    font-size: 48px;
  }
  body main section.sainer div.ainer div.title h2 {
    color: white;
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  body.scrolled header nav {
    background-color: rgba(0, 0, 0, 0.95);
    height: 5rem;
    z-index: 10;
  }
  body header section.logo {
    flex: 2 1 400px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  body header section.logo h1 {
    font-size: 2rem;
    color: white;
  }
  body header section.logo img {
    width: 50px;
    height: 50px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  }
  body header section.logo a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  body header nav {
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    height: 5rem;
  }
  body header nav .hamburger {
    display: block;
    top: 10px;
  }
  body header nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  body header nav ul.active {
    max-height: 500px;
  }
  body header nav ul li {
    width: 100%;
    padding: 10px;
    text-align: left;
  }
  body header nav ul li .dropdown-menu {
    position: static;
    background-color: transparent;
    box-shadow: none;
  }
  body header nav ul li .dropdown-menu li a {
    padding: 8px 16px;
    font-size: 1rem;
    display: block;
  }
  body header .logo {
    margin-left: 0;
  }
  body header .logo h1 {
    font-size: 2rem;
  }
  body header .logo img {
    width: 40px;
    height: 40px;
  }
  body main section.background-wrapper {
    height: 70vh;
  }
  body main section.background-wrapper .bg-layer {
    min-height: 70vh;
  }
  body main section.background-wrapper .content1 h4 {
    color: white;
    font-size: 1.5rem;
    text-align: center;
    position: absolute;
    top: 18rem;
    left: 2rem;
  }
  body main section.sainer {
    padding: 3rem 4rem;
  }
  body main section.sainer div.ainer {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }
  body main section.sainer div.ainer div.title {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  body main section.sainer div.ainer div.title h3 {
    color: white;
    font-size: 48px;
  }
  body main section.sainer div.ainer div.title h2 {
    color: white;
    font-size: 36px;
  }
  body main section.sainer div.carousel {
    width: 400px;
    height: 320px;
    display: flex;
    gap: 10px;
    flex-shrink: 0;
  }
  body main section.sainer div.carousel div.container div.content {
    width: 400px;
    height: 320px;
  }
  body main section.sainer div.carousel div.container div.content img {
    width: 100%;
    flex-shrink: 0;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main section.sainer div.carousel div.btnContainer {
    display: flex;
    align-items: center;
    z-index: -1;
    width: 100%;
    justify-content: space-between;
  }
  body main section.sainer div.carousel div.btnContainer button.btn {
    width: 1px;
    height: 1px;
    font-size: 1px;
  }
  body footer section.logo img {
    width: 15%;
  }
  body footer section.logo h3 {
    font-size: 1.75rem;
  }
  body footer section.links a img {
    width: 4vh;
  }
}
@media (max-width: 480px) {
  body.scrolled header nav {
    background-color: rgba(0, 0, 0, 0.95);
    height: 3rem;
    z-index: 10;
  }
  body header section.logo {
    flex: 2 1 400px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  body header section.logo h1 {
    font-size: 1rem;
    color: white;
  }
  body header section.logo img {
    width: 35px;
    height: px;
    filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
  }
  body header nav {
    background-color: rgba(0, 0, 0, 0.95);
    flex-direction: column;
    align-items: flex-start;
    padding: 0 1rem;
    height: 2.5rem;
  }
  body header nav .hamburger {
    display: block;
    top: 5px;
    font-size: 1.25rem;
  }
  body header nav ul {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 100%;
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
  }
  body header nav ul.active {
    max-height: 500px;
  }
  body header nav ul li {
    width: 100%;
    padding: 10px;
    text-align: left;
    height: 60px;
  }
  body header nav ul li a {
    font-size: 1rem;
  }
  body header nav ul li .dropdown-menu {
    position: static;
    background-color: transparent;
    box-shadow: none;
  }
  body header nav ul li .dropdown-menu li a {
    padding: 8px 16px;
    font-size: 1rem;
    display: block;
  }
  body header .logo {
    margin-left: 0;
  }
  body header .logo h1 {
    font-size: 2rem;
  }
  body header .logo img {
    width: 40px;
    height: 40px;
  }
  body main section.background-wrapper {
    height: 35vh;
  }
  body main section.background-wrapper .bg-layer {
    min-height: 35vh;
  }
  body main section.background-wrapper .content1 h4 {
    color: white;
    font-size: 1rem;
    text-align: center;
    position: absolute;
    top: 13rem;
    left: 1.2rem;
  }
  body main section.sainer {
    padding: 3rem 4rem;
  }
  body main section.sainer div.ainer {
    height: auto;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    gap: 1rem;
  }
  body main section.sainer div.ainer div.title {
    display: flex;
    flex-direction: column;
  }
  body main section.sainer div.ainer div.title h3 {
    color: white;
    font-size: 28px;
  }
  body main section.sainer div.ainer div.title h2 {
    color: white;
    font-size: 24px;
  }
  body main section.sainer div.carousel {
    width: 300px;
    height: 250px;
    display: flex;
    gap: 10px;
    flex-shrink: 0;
  }
  body main section.sainer div.carousel div.container div.content {
    width: 300px;
    height: 240px;
  }
  body main section.sainer div.carousel div.container div.content img {
    width: 100%;
    flex-shrink: 0;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  body main section.sainer div.carousel div.btnContainer {
    display: flex;
    align-items: center;
    z-index: -1;
    width: 100%;
    justify-content: space-between;
  }
  body main section.sainer div.carousel div.btnContainer button.btn {
    width: 1px;
    height: 1px;
    font-size: 1px;
  }
  body main section.empty-container h3 {
    color: white;
    font-size: 1.2rem;
  }
  body main section.google-map h3 {
    font-size: 1.5rem;
  }
  body main section.google-map p {
    font-size: 1rem;
  }
  body footer section.logo img {
    width: 10%;
  }
  body footer section.logo h3 {
    font-size: 1.5rem;
  }
  body footer section.links a img {
    width: 4vh;
  }
}/*# sourceMappingURL=style.css.map */