$themeColor: rgba(255, 57, 120, 0.5);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

body {
  position: relative;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  padding-top: 0px;

  &.scrolled header nav {
    background-color: rgba(0, 0, 0, 0.5);
    height: 95px;
    transition: height 1s;
    z-index: 10;
  }
  img.fixed-image {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -5;
    bottom: 0;
    left: 0;
  }
  header {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    section.logo {
      flex: 2 1 400px;
      display: flex;
      align-items: center;
      margin-left: 40px;
      h1 {
        font-size: 2.5rem;
        color: white;
      }
      img {
        width: 6vw;
        height: 6vw;
        filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    nav {
      display: flex;
      flex: 5 1 500px;
      background-color: rgba(0, 0, 0, 0);
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
      height: 6.5rem;
      .hamburger {
        display: none;
        font-size: 2.5rem;
        color: white;
        background: none;
        border: none;
        position: absolute;
        right: 20px;
        top: 20px;
        z-index: 1100;
      }
      ul {
        display: flex;
        list-style-type: none;
        justify-content: space-around;
        padding: 0;
        margin: 0;

        li {
          position: relative;
          left: 0px;
          display: flex;
          align-items: center;
          padding: 20px;
          height: 102px;
          &.dropdown-menu1:hover .dropdown-menu,
          &.dropdown-menu2:hover .dropdown-menu,
          &.dropdown-menu3:hover .dropdown-menu,
          &.dropdown-menu4:hover .dropdown-menu {
            display: block;
            top: 102px;
            left: 0px;
          }

          a {
            justify-content: center;
            color: white;
            text-decoration: none;
            font-size: 1.35rem;
            transition: all 0.2s ease;
            padding-bottom: 0.3rem;

            &:hover {
              color: $themeColor;
              border-bottom: 3px solid $themeColor;
            }
          }
          ul {
            display: none;
            position: absolute;
            top: 105%;
            left: 20px;
            background-color: rgba(0, 0, 0, 0.5);
            width: 150px;
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            border-radius: 5px;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
              a {
                font-size: 20px;
                display: block;
                padding: 10px;
                // color: white;
                text-decoration: none;

                &:hover {
                  background-color: rgba(0, 0, 0, 0);
                }
              }
            }
          }
        }
      }
    }
  }

  main {
    section.background-wrapper {
      position: relative;
      height: 100vh;
      overflow: hidden;

      .bg-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        min-height: 100vh;
        background-size: cover;
        background-position: center;
        transition: opacity 1s ease-in-out;
        opacity: 0;
        z-index: 0;
        // border: 1px solid rgb(128, 0, 96);
      }

      .bg1 {
        z-index: 1;
      }

      .bg2 {
        z-index: 2;
      }

      .bg-layer.show {
        opacity: 1;
      }

      .content1 {
        position: relative;
        z-index: 3;
        color: white;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        font-size: 2rem;
        padding: 0;

        h4 {
          color: white;
          font-size: 2.5rem;
          text-align: center;
          position: absolute;
          top: 20rem;
          left: 6rem;
        }
      }
    }
    section.sainer {
      background-color: rgba(0, 0, 0, 1);
      padding: 5rem 1rem 5rem 8rem;
      z-index: -1;

      div.ainer {
        display: flex;
        align-items: center;
        height: 500px;
        opacity: 1;
        transform: translateY(200px);
        transition: opacity 1s ease-out, transform 1s ease-out;
        // margin-left: 100px;
        width: 100%;
        gap: 1rem;
        // border: 1px solid red;

        &.show {
          opacity: 1;
          transform: translateY(0);
        }
        div.title {
          display: flex;
          width: 100%;
          flex-direction: column;
          align-items: center;

          // margin-left: 200px;
          h3 {
            color: white;
            font-size: 48px;
          }
          h2 {
            color: white;
            font-size: 36px;
          }
        }
      }

      div.carousel {
        width: 500px;
        height: 400px;
        display: flex;
        gap: 10px;
        flex-shrink: 0;

        div.container {
          div.content {
            width: 500px;
            height: 400px;

            img {
              width: 100%;
              flex-shrink: 0;
              height: 400px;
              object-fit: cover;
            }
          }
        }
        div.btnContainer {
          display: flex;
          align-items: center;
          z-index: -1;
          width: 100%;
          justify-content: space-between;
          button.btn {
            width: 1px;
            height: 1px;
            font-size: 1px;
          }
        }
      }
    }

    section.info-circles {
      background-color: white;
      padding: 4rem 1rem;

      h3 {
        text-align: center;
        font-size: 2rem;
        color: lightseagreen;
        font-weight: bold;
      }

      div.circles {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        div.circle {
          padding: 1rem;

          flex: 0 1 250px;
          display: flex;
          flex-direction: column;
          align-items: center;

          a {
            text-decoration: none;
            color: lightseagreen;
            font-size: 25px;
            font-weight: bold;
            text-align: center;

            img {
              width: 80%;
              aspect-ratio: 1 / 1;
              border-radius: 50%;
              transition: all 0.1s ease-in;
              padding: 0.3rem;
              display: block;
              margin: auto;

              &:hover {
                border: 3px solid $themeColor;
              }
            }
          }
        }
      }
    }

    section.empty-container {
      min-height: 70vh;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      align-items: center;

      h3 {
        color: white;
        font-size: 2rem;
      }
    }

    section.google-map {
      background-color: white;
      padding: 2rem 1rem;
      text-align: center;
      h3 {
        font-size: 2.5rem;
      }
      p {
        font-size: 1.25rem;
        margin: 1rem;
      }
      iframe {
        width: 100%;
        height: 40vh;
      }
    }
  }

  footer {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);

    section.logo {
      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 5vw;
        filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
      }
      h3 {
        font-size: 2.5rem;
        text-align: center;
        color: white;
      }
    }
    section.links {
      margin-top: 2rem;
      a {
        img {
          width: 5vh;
          margin: 0rem 1rem;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  body {
    &.scrolled header nav {
      background-color: rgba(0, 0, 0, 0.95);
      height: 5rem;
      z-index: 10;
    }
    header {
      section.logo {
        flex: 2 1 400px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        h1 {
          font-size: 2rem;
          color: white;
        }
        img {
          width: 50px;
          height: 50px;
          filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      nav {
        background-color: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1rem;
        height: 5rem;
        .hamburger {
          display: block;
          top: 10px;
        }

        ul {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.95);
          position: absolute;
          top: 100%;
          left: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;

          &.active {
            max-height: 500px;
          }

          li {
            width: 100%;
            padding: 10px;
            text-align: left;

            .dropdown-menu {
              position: static;
              background-color: transparent;
              box-shadow: none;

              li a {
                padding: 8px 16px;
                font-size: 1rem;
                display: block;
              }
            }
          }
        }
      }

      .logo {
        margin-left: 0;
        h1 {
          font-size: 2rem;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    main {
      section.background-wrapper {
        height: 80vh;
        .bg-layer {
          min-height: 80vh;
        }
        .content1 {
          h4 {
            color: white;
            font-size: 1.5rem;
            text-align: center;
            position: absolute;
            top: 20rem;
            left: 2rem;
          }
        }
      }
      section.sainer {
        padding: 3rem 4rem;
        div.ainer {
          height: auto;
          display: flex;
          flex-direction: column;
          margin-left: 0;

          div.title {
            display: flex;
            flex-direction: column;
            text-align: center;

            h3 {
              color: white;
              font-size: 48px;
            }
            h2 {
              color: white;
              font-size: 36px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  body {
    &.scrolled header nav {
      background-color: rgba(0, 0, 0, 0.95);
      height: 5rem;
      z-index: 10;
    }
    header {
      section.logo {
        flex: 2 1 400px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        h1 {
          font-size: 2rem;
          color: white;
        }
        img {
          width: 50px;
          height: 50px;
          filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
        }
        a {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      nav {
        background-color: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1rem;
        height: 5rem;
        .hamburger {
          display: block;
          top: 10px;
        }

        ul {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.95);
          position: absolute;
          top: 100%;
          left: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;

          &.active {
            max-height: 500px;
          }

          li {
            width: 100%;
            padding: 10px;
            text-align: left;

            .dropdown-menu {
              position: static;
              background-color: transparent;
              box-shadow: none;

              li a {
                padding: 8px 16px;
                font-size: 1rem;
                display: block;
              }
            }
          }
        }
      }

      .logo {
        margin-left: 0;
        h1 {
          font-size: 2rem;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    main {
      section.background-wrapper {
        height: 70vh;
        .bg-layer {
          min-height: 70vh;
        }
        .content1 {
          h4 {
            color: white;
            font-size: 1.5rem;
            text-align: center;
            position: absolute;
            top: 18rem;
            left: 2rem;
          }
        }
      }
      section.sainer {
        padding: 3rem 4rem;
        div.ainer {
          height: auto;
          display: flex;
          flex-direction: column;
          margin-left: 0;

          div.title {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            margin-left: 10px;
            h3 {
              color: white;
              font-size: 48px;
            }
            h2 {
              color: white;
              font-size: 36px;
            }
          }
        }
        div.carousel {
          width: 400px;
          height: 320px;
          display: flex;
          gap: 10px;
          flex-shrink: 0;

          div.container {
            div.content {
              width: 400px;
              height: 320px;

              img {
                width: 100%;
                flex-shrink: 0;
                height: 400px;
                object-fit: cover;
              }
            }
          }
          div.btnContainer {
            display: flex;
            align-items: center;
            z-index: -1;
            width: 100%;
            justify-content: space-between;
            button.btn {
              width: 1px;
              height: 1px;
              font-size: 1px;
            }
          }
        }
      }
    }
    footer {
      section.logo {
        img {
          width: 15%;
        }
        h3 {
          font-size: 1.75rem;
        }
      }
      section.links {
        a {
          img {
            width: 4vh;
          }
        }
      }
    }
  }
}
@media (max-width: 480px) {
  body {
    &.scrolled header nav {
      background-color: rgba(0, 0, 0, 0.95);
      height: 3rem;
      z-index: 10;
    }
    header {
      section.logo {
        flex: 2 1 400px;
        display: flex;
        align-items: center;
        margin-left: 10px;

        h1 {
          font-size: 1.5rem;
          color: white;
        }
        img {
          width: 40px;
          height: 40px;
          filter: invert(1) sepia(1) saturate(5) hue-rotate(180deg);
        }
      }
      nav {
        background-color: rgba(0, 0, 0, 0.95);
        flex-direction: column;
        align-items: flex-start;
        padding: 0 1rem;
        height: 3rem;
        .hamburger {
          display: block;
          top: 5px;
          font-size: 1.5rem;
        }

        ul {
          flex-direction: column;
          align-items: flex-start;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.95);
          position: absolute;
          top: 100%;
          left: 0;
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;

          &.active {
            max-height: 500px;
          }

          li {
            width: 100%;
            padding: 10px;
            text-align: left;

            .dropdown-menu {
              position: static;
              background-color: transparent;
              box-shadow: none;

              li a {
                padding: 8px 16px;
                font-size: 1rem;
                display: block;
              }
            }
          }
        }
      }

      .logo {
        margin-left: 0;
        h1 {
          font-size: 2rem;
        }
        img {
          width: 40px;
          height: 40px;
        }
      }
    }
    main {
      section.background-wrapper {
        height: 50vh;

        .bg-layer {
          min-height: 50vh;
        }
        .content1 {
          h4 {
            color: white;
            font-size: 1rem;
            text-align: center;
            position: absolute;
            top: 13rem;
            left: 1.2rem;
          }
        }
      }
      section.sainer {
        padding: 3rem 4rem;
        div.ainer {
          height: auto;
          display: flex;
          flex-direction: column;
          margin-left: 0;
          gap: 1rem;
          div.title {
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            // margin-left: 10px;
            h3 {
              color: white;
              font-size: 28px;
            }
            h2 {
              color: white;
              font-size: 24px;
            }
          }
        }
        div.carousel {
          width: 300px;
          height: 250px;
          display: flex;
          gap: 10px;
          flex-shrink: 0;
          border: 1px solid blue;
          div.container {
            div.content {
              width: 300px;
              height: 240px;

              img {
                width: 100%;
                flex-shrink: 0;
                height: 250px;
                object-fit: cover;
              }
            }
          }
          div.btnContainer {
            display: flex;
            align-items: center;
            z-index: -1;
            width: 100%;
            justify-content: space-between;
            button.btn {
              width: 1px;
              height: 1px;
              font-size: 1px;
            }
          }
        }
      }
      section.google-map {
        h3 {
          font-size: 1.5rem;
        }
        p {
          font-size: 1rem;
        }
      }
    }
    footer {
      section.logo {
        img {
          width: 10%;
        }
        h3 {
          font-size: 1.5rem;
        }
      }
      section.links {
        a {
          img {
            width: 4vh;
          }
        }
      }
    }
  }
}
