body {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: $bg-light;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
